@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

.question-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 40px;
}

ul {
  list-style: none;
}

.question {
  width: 45%;
  margin: 20px 0;
  /* padding: auto; */
  /* border: 1px solid black; */
  h1 {
    margin: 20px 0;
    font-family: 'Times New Roman', Times, serif;
  }
  * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.question-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* display: none; */
}

.sol {
  border-left: 2px solid black;
  width: 45%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  h2 {
    align-self: self-start;
    margin: 10px 30px;
    font-size: 1.6rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  textarea {
    /* margin-top: 30px; */
    width: 90%;
    height: 80%;
    resize: none;
    font-size: large;
    padding: 20px;
    overflow-y: scroll;
    font-family: "Fira Code", monospace;
  }
  .butn {
    width: 90%;
    display: flex;
    justify-content: space-between;
    button {
      width: 100px;
      height: 40px;
      border: none;
      background-color: rgba(0, 128, 0, 0.629);
      color: white;
      border-radius: 10px;
    }
    .disk {
      background-color: burlywood;
      color: black;
    }
  }
}
